In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
#from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.model_selection import cross_val_score, cross_val_predict,KFold, StratifiedKFold
from sklearn.naive_bayes import GaussianNB

In [ ]:
df=pd.read_csv('/content/train_s3TEQDk.csv')
df.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [ ]:
df2=pd.read_csv('/content/test_mSzZ8RL.csv')
df2.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            Yes              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...             No              215949        No
3  TT8RPZVC    Male   29  ...             No              868070        No
4  SHQZEYTZ  Female   29  ...             No              657087        No

[5 rows x 10 columns]

In [ ]:
df3 = df.append(df2)

In [ ]:
df3['Credit_Product']=df3['Credit_Product'].fillna(-99)

In [ ]:
df3.isnull().sum()

Gender                                            0
Age                                               0
Region_Code                                       0
Occupation                                        0
Channel_Code                                      0
                                                 ..
city_aggregate_features5Gender_count              0
city_aggregate_features5Credit_Product_nunique    0
city_aggregate_features5Credit_Product_count      0
city_aggregate_features5Is_Active_nunique         0
city_aggregate_features5Is_Active_count           0
Length: 137, dtype: int64

In [ ]:
df3['Vintage']= df3['Vintage']/12

In [ ]:
df3['Gender']=df3['Gender'].replace({'Male':1,'Female':0})
df3['Occupation']=df3['Occupation'].replace({'Self_Employed':0,'Salaried':1,'Other':2,'Entrepreneur':3})
df3['Channel_Code']=df3['Channel_Code'].replace({'X1':1,'X3':2,'X2':3,'X4':4})
#df['Credit_Product']=df['Credit_Product'].replace({'No':1,'Yes':2})
df3['Is_Active']=df3['Is_Active'].replace({'No':0,'Yes':1})
df3['Credit_Product']=df3['Credit_Product'].replace({'No':0,'Yes':1})

#df3['Avg_Account_Balance']=np.log1p(df3['Avg_Account_Balance'])
df3['Age_Group'] = np.where((df3['Age']<30) & (df3['Age'] > 60),0,1)

In [ ]:
combine_set=df3

In [ ]:
combine_set['Total_premium_Channelwise']=combine_set.groupby(['Vintage'])['Avg_Account_Balance'].transform('sum')
combine_set['Mean_premium_Channelwise']=combine_set.groupby(['Vintage'])['Avg_Account_Balance'].transform('mean')
combine_set['Maximum_premium_Channelwise']=combine_set.groupby(['Vintage'])['Avg_Account_Balance'].transform('max')
combine_set['Min_premium_Channelwise']=combine_set.groupby(['Vintage'])['Avg_Account_Balance'].transform('min')
combine_set['Total_premium_regionwise']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].transform('sum')
combine_set['Mean_premium_regionwise']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].transform('mean')
combine_set['Max_premium_regionwise']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].transform('max')
combine_set['Min_premium_regionwise']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].transform('min')
combine_set['Age_groups_region_wise']=combine_set.groupby(['Region_Code'])['Age'].transform('nunique')
combine_set['regionwise_channels']=combine_set.groupby(['Vintage'])['Region_Code'].transform('nunique')
combine_set['Channelwise_regions']=combine_set.groupby(['Region_Code'])['Vintage'].transform('nunique')
combine_set['Unique_customers_based_Vinatge']=combine_set.groupby(['Region_Code','Gender'])['Vintage'].transform('nunique')
combine_set['Region_wise_Vehicle_Age_premium']=combine_set.groupby(['Region_Code','Occupation'])['Avg_Account_Balance'].transform('sum')
combine_set['Region_wise_Vehicle_Age_premium_mean']=combine_set.groupby(['Region_Code','Occupation'])['Avg_Account_Balance'].transform('mean')
combine_set['Region_wise_Vehicle_Age_premium_max']=combine_set.groupby(['Region_Code','Occupation'])['Avg_Account_Balance'].transform('max')
combine_set['Channel_wise_Vehicle_Age_premium']=combine_set.groupby(['Channel_Code', 'Occupation'])['Avg_Account_Balance'].transform('sum')
combine_set['Channel_wise_Vehicle_Age_premium_mean']=combine_set.groupby(['Channel_Code', 'Occupation'])['Avg_Account_Balance'].transform('mean')
combine_set['Channel_wise_Vehicle_Age_premium_max']=combine_set.groupby(['Channel_Code', 'Occupation'])['Avg_Account_Balance'].transform('max')


combine_set['Rank_regionwise_premium']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].rank(method='first',ascending=True)
combine_set['Rank_mean_regionwise_premium']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].rank(method='average',ascending=True)
combine_set['Rank_max_regionwise_premium']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].rank(method='max',ascending=True)
combine_set['Rank_min_regionwise_premium']=combine_set.groupby(['Region_Code'])['Avg_Account_Balance'].rank(method='min',ascending=True)
combine_set['Rank_regionwise_diff']=combine_set['Rank_max_regionwise_premium']- combine_set['Rank_min_regionwise_premium']
combine_set['Rank_channelwise_premium']=combine_set.groupby(['Channel_Code'])['Avg_Account_Balance'].rank(method='first',ascending=True)
combine_set['Rank_mean_channelwise_premium']=combine_set.groupby(['Channel_Code'])['Avg_Account_Balance'].rank(method='average',ascending=True)
combine_set['Rank_max_channelwise_premium']=combine_set.groupby(['Channel_Code'])['Avg_Account_Balance'].rank(method='max',ascending=True)
combine_set['Rank_min_channelwise_premium']=combine_set.groupby(['Channel_Code'])['Avg_Account_Balance'].rank(method='min',ascending=True)
combine_set['Rank_channelwise_diff']=combine_set['Rank_max_channelwise_premium']- combine_set['Rank_min_channelwise_premium']
combine_set['Rank_Channel_wise_Vehicle_Age_Premium']=combine_set.groupby(['Channel_Code','Age'])['Avg_Account_Balance'].rank(method='first',ascending=True)
combine_set['Rank_Region_wise_Vehicle_Age_premium']=combine_set.groupby(['Region_Code','Age'])['Avg_Account_Balance'].rank(method='first',ascending=True)
combine_set['Rank_Age_wise_premium']=combine_set.groupby(['Age'])['Avg_Account_Balance'].rank(method='first',ascending=True)

In [ ]:
combine_set['InsuranceLicense'] = combine_set['Is_Active'].astype('str') + '' + combine_set['Credit_Product'].astype('str')
combine_set['InsuranceGender'] = combine_set['Is_Active'].astype('str') + '' + combine_set['Occupation'].astype('str')
combine_set['InsuranceGender1'] = combine_set['Is_Active'].astype('str') + '' + combine_set['Channel_Code'].astype('str')
combine_set['InsuranceGender2'] = combine_set['Gender'].astype('str') + '' + combine_set['Credit_Product'].astype('str')
combine_set['InsuranceGender3'] = combine_set['Gender'].astype('str') + '' + combine_set['Occupation'].astype('str')
combine_set['InsuranceGender4'] = combine_set['Gender'].astype('str') + '' + combine_set['Channel_Code'].astype('str')
combine_set['InsuranceGender5'] = combine_set['Occupation'].astype('str') + '' + combine_set['Channel_Code'].astype('str')

In [ ]:
city_aggregate_features = df3.groupby(['Region_Code']).agg({'Age': ['mean', 'max', 'min','std'],
                                                           'Vintage': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                                     'Occupation': ['nunique','count'],
                                                     'Channel_Code': ['nunique','count'] ,
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features.columns = ['city_aggregate_features' + '_'.join(c).strip('_') for c in city_aggregate_features.columns]
df3 = pd.merge(df3, city_aggregate_features, on = ['Region_Code'], how='left')
city_aggregate_features1 = df3.groupby(['Region_Code','Vintage']).agg({'Age': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                                     'Occupation': ['nunique','count'],
                                                     'Channel_Code': ['nunique','count'] ,
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features1.columns = ['city_aggregate_features1' + '_'.join(c).strip('_') for c in city_aggregate_features1.columns]
df3 = pd.merge(df3, city_aggregate_features1, on = ['Region_Code','Vintage'], how='left')

city_aggregate_features2 = df3.groupby(['Region_Code','Occupation']).agg({'Age': ['mean', 'max', 'min','std'],
                                                           'Vintage': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                        
                                                     'Channel_Code': ['nunique','count'] ,
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features2.columns = ['city_aggregate_features2' + '_'.join(c).strip('_') for c in city_aggregate_features2.columns]
df3 = pd.merge(df3, city_aggregate_features2, on = ['Region_Code','Occupation'], how='left')

city_aggregate_features3 = df3.groupby(['Region_Code','Channel_Code']).agg({'Age': ['mean', 'max', 'min','std'],
                                                           'Vintage': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                        
                                                     'Occupation': ['nunique','count'] ,
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features3.columns = ['city_aggregate_features3' + '_'.join(c).strip('_') for c in city_aggregate_features3.columns]
df3 = pd.merge(df3, city_aggregate_features3, on = ['Region_Code','Channel_Code'], how='left')

city_aggregate_features4 = df3.groupby(['Vintage','Occupation']).agg({'Age': ['mean', 'max', 'min','std'],
                                                           'Region_Code': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                              
                                                     'Channel_Code': ['nunique','count'] ,
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features4.columns = ['city_aggregate_features4' + '_'.join(c).strip('_') for c in city_aggregate_features4.columns]
df3 = pd.merge(df3, city_aggregate_features4, on = ['Vintage','Occupation'], how='left')

city_aggregate_features5 = df3.groupby(['Vintage','Channel_Code']).agg({'Age': ['mean', 'max', 'min','std'],
                                                           'Region_Code': ['mean', 'max', 'min','std'],
                                                     'Avg_Account_Balance': ['mean', 'max', 'min','std','sum'], 
                                                     'Occupation': ['nunique','count'],
                
                                                     'Gender': ['nunique','count'] ,
                                                     'Credit_Product': ['nunique','count'] ,
                                                     'Is_Active': ['nunique','count'] ,
                                                     })
city_aggregate_features5.columns = ['city_aggregate_features5' + '_'.join(c).strip('_') for c in city_aggregate_features5.columns]
df3 = pd.merge(df3, city_aggregate_features5, on = ['Vintage','Channel_Code'], how='left')

In [ ]:
df3.head()

   Gender  Age  ...  InsuranceGender5_33  InsuranceGender5_34
0       0   73  ...                    0                    0
1       0   30  ...                    0                    0
2       0   56  ...                    0                    0
3       1   34  ...                    0                    0
4       0   30  ...                    0                    0

[5 rows x 102 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
y=LabelEncoder()

In [ ]:
df3['Region_Code']=y.fit_transform(df3['Region_Code'])

In [ ]:
df3.drop('ID',axis=1,inplace=True)
#df3.drop('Credit_Product',axis=1,inplace=True)

In [ ]:
df3=combine_set

In [ ]:
df3 = pd.get_dummies(df3)

In [ ]:
train_df=df3[df3['Is_Lead'].isnull()==False]
test_df=df3[df3['Is_Lead'].isnull()==True]

X=train_df.drop(['Is_Lead'],axis=1)
y=train_df['Is_Lead'] 
X_main_test=test_df.drop(['Is_Lead'],axis=1)

In [ ]:
oof_pred               = np.zeros((len(train_df),))
y_pred_final           = np.zeros((len(test_df),))
num_models             = 3

n_splits               = 20
error                  = []

kf=StratifiedKFold(n_splits=n_splits,shuffle=True,random_state=294)
    
for i,(train_idx,val_idx) in enumerate(kf.split(X,y)):    
    
    wghts                     = [0]*num_models
    test_roc_score            = []
    
    
    X_train, y_train = X.iloc[train_idx,:], y.iloc[train_idx]

    X_val, y_val = X.iloc[val_idx, :], y.iloc[val_idx]
    

    print('\nFold: {}\n'.format(i+1))

    model1 = LGBMClassifier(boosting_type='gbdt',n_estimators=500,depth=-1,learning_rate=0.03,scale_pos_weight=7,objective='binary',metric='auc',
                 colsample_bytree=0.5,random_state=294,n_jobs=-1)
    model1.fit(X_train,y_train)
    testpred1 = model1.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred1))
    print("Test ROC AUC for model 1: %.4f"%(roc_auc_score(y_val, testpred1)))
    
    model2 = LGBMClassifier(boosting_type='gbdt',n_estimators=300,depth=-1,learning_rate=0.03,scale_pos_weight=7,objective='binary',metric='auc',
                 colsample_bytree=0.3,reg_alpha=2,random_state=294,n_jobs=-1)
    model2.fit(X_train,y_train)
    testpred2 = model2.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred2))
    print("Test ROC AUC for model 2: %.4f"%(roc_auc_score(y_val, testpred2)))
    
    model3 = LGBMClassifier(boosting_type='gbdt',n_estimators=400,depth=-1,learning_rate=0.03,scale_pos_weight=7,objective='binary',metric='auc',
                 colsample_bytree=0.4,reg_alpha=2,random_state=294,n_jobs=-1)
    model3.fit(X_train,y_train)
    testpred3 = model3.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred3))
    print("Test ROC AUC for model 3: %.4f"%(roc_auc_score(y_val, testpred3)))
    
    wghts              = np.exp(-1000*np.array(test_roc_score/sum(test_roc_score)))
    wghts              = wghts/sum(wghts)
    
    val_pred           = wghts[0]*testpred1+wghts[1]*testpred2 +wghts[2]*testpred3
    print('validation roc_auc_score fold-',i+1,': ',roc_auc_score(y_val, val_pred))
    
    oof_pred[val_idx]  = val_pred
    y_pred_final += (wghts[0]*model1.predict_proba(X_main_test)[:,1]+wghts[1]*model2.predict_proba(X_main_test)[:,1]+wghts[2]*model3.predict_proba(X_main_test)[:,1])/(n_splits)
    
    print('\n')
    
print('OOF ROC_AUC_Score:- ',(roc_auc_score(y,oof_pred)))

Fold: 1

Test ROC AUC for model 1: 0.8724
Test ROC AUC for model 2: 0.8713
Test ROC AUC for model 3: 0.8713
validation roc_auc_score fold- 1 :  0.8715299541936895



Fold: 2

Test ROC AUC for model 1: 0.8729
Test ROC AUC for model 2: 0.8727
Test ROC AUC for model 3: 0.8730
validation roc_auc_score fold- 2 :  0.8728885867834483



Fold: 3

Test ROC AUC for model 1: 0.8783
Test ROC AUC for model 2: 0.8791
Test ROC AUC for model 3: 0.8792
validation roc_auc_score fold- 3 :  0.8789041698603701



Fold: 4

Test ROC AUC for model 1: 0.8748
Test ROC AUC for model 2: 0.8747
Test ROC AUC for model 3: 0.8751
validation roc_auc_score fold- 4 :  0.8749439408947055



Fold: 5

Test ROC AUC for model 1: 0.8800
Test ROC AUC for model 2: 0.8798
Test ROC AUC for model 3: 0.8799
validation roc_auc_score fold- 5 :  0.8799755887578707



Fold: 6

Test ROC AUC for model 1: 0.8769
Test ROC AUC for model 2: 0.8763
Test ROC AUC for model 3: 0.8772
validation roc_auc_score fold- 6 :  0.8767825699648276



Fold: 7

Test ROC AUC for model 1: 0.8726
Test ROC AUC for model 2: 0.8734
Test ROC AUC for model 3: 0.8735
validation roc_auc_score fold- 7 :  0.8732450572698477



Fold: 8

Test ROC AUC for model 1: 0.8755
Test ROC AUC for model 2: 0.8762
Test ROC AUC for model 3: 0.8758
validation roc_auc_score fold- 8 :  0.8759235991435814



Fold: 9

Test ROC AUC for model 1: 0.8702
Test ROC AUC for model 2: 0.8694
Test ROC AUC for model 3: 0.8700
validation roc_auc_score fold- 9 :  0.8699373870560565



Fold: 10

Test ROC AUC for model 1: 0.8708
Test ROC AUC for model 2: 0.8706
Test ROC AUC for model 3: 0.8706
validation roc_auc_score fold- 10 :  0.870807672410788



Fold: 11

Test ROC AUC for model 1: 0.8676
Test ROC AUC for model 2: 0.8681
Test ROC AUC for model 3: 0.8679
validation roc_auc_score fold- 11 :  0.8680198848715095



Fold: 12

Test ROC AUC for model 1: 0.8785
Test ROC AUC for model 2: 0.8784
Test ROC AUC for model 3: 0.8786
validation roc_auc_score fold- 12 :  0.8786089700156807



Fold: 13

Test ROC AUC for model 1: 0.8719
Test ROC AUC for model 2: 0.8725
Test ROC AUC for model 3: 0.8718
validation roc_auc_score fold- 13 :  0.8719845486680194



Fold: 14

Test ROC AUC for model 1: 0.8687
Test ROC AUC for model 2: 0.8692
Test ROC AUC for model 3: 0.8691
validation roc_auc_score fold- 14 :  0.8692178339896495



Fold: 15

Test ROC AUC for model 1: 0.8701
Test ROC AUC for model 2: 0.8703
Test ROC AUC for model 3: 0.8700
validation roc_auc_score fold- 15 :  0.8703464129340424



Fold: 16

Test ROC AUC for model 1: 0.8779
Test ROC AUC for model 2: 0.8783
Test ROC AUC for model 3: 0.8782
validation roc_auc_score fold- 16 :  0.8781704494557454



Fold: 17

Test ROC AUC for model 1: 0.8795
Test ROC AUC for model 2: 0.8793
Test ROC AUC for model 3: 0.8801
validation roc_auc_score fold- 17 :  0.8797815072042453



Fold: 18

Test ROC AUC for model 1: 0.8728
Test ROC AUC for model 2: 0.8728
Test ROC AUC for model 3: 0.8727
validation roc_auc_score fold- 18 :  0.8728951385181063



Fold: 19

Test ROC AUC for model 1: 0.8746
Test ROC AUC for model 2: 0.8750
Test ROC AUC for model 3: 0.8750
validation roc_auc_score fold- 19 :  0.8749039086865742



Fold: 20

Test ROC AUC for model 1: 0.8705
Test ROC AUC for model 2: 0.8706
Test ROC AUC for model 3: 0.8710
validation roc_auc_score fold- 20 :  0.8706378552276073


OOF ROC_AUC_Score:-  0.873930966223262

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351037 entries, 0 to 105311
Data columns (total 86 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 351037 non-null  int64
 1   Age                                    351037 non-null  int64
 2   Region_Code                            351037 non-null  int64
 3   Occupation                             351037 non-null  int64
 4   Channel_Code                           351037 non-null  int64
 5   Vintage                                351037 non-null  int64
 6   Credit_Product                         351037 non-null  int64
 7   Avg_Account_Balance                    351037 non-null  int64
 8   Is_Active                              351037 non-null  int64
 9   Is_Lead                                245725 non-null  float64
 10  Age_Group                              351037 non-null  int64
 11  Total_premium_Channelwise              351037 non-null  int64
 12  Mean_premium_Channelwise               351037 non-null  float64
 13  Maximum_premium_Channelwise            351037 non-null  int64
 14  Min_premium_Channelwise                351037 non-null  int64
 15  Total_premium_regionwise               351037 non-null  int64
 16  Mean_premium_regionwise                351037 non-null  float64
 17  Max_premium_regionwise                 351037 non-null  int64
 18  Min_premium_regionwise                 351037 non-null  int64
 19  Age_groups_region_wise                 351037 non-null  int64
 20  regionwise_channels                    351037 non-null  int64
 21  Channelwise_regions                    351037 non-null  int64
 22  Unique_customers_based_Vinatge         351037 non-null  int64
 23  Region_wise_Vehicle_Age_premium        351037 non-null  int64
 24  Region_wise_Vehicle_Age_premium_mean   351037 non-null  float64
 25  Region_wise_Vehicle_Age_premium_max    351037 non-null  int64
 26  Channel_wise_Vehicle_Age_premium       351037 non-null  int64
 27  Channel_wise_Vehicle_Age_premium_mean  351037 non-null  float64
 28  Channel_wise_Vehicle_Age_premium_max   351037 non-null  int64
 29  Rank_regionwise_premium                351037 non-null  float64
 30  Rank_mean_regionwise_premium           351037 non-null  float64
 31  Rank_max_regionwise_premium            351037 non-null  float64
 32  Rank_min_regionwise_premium            351037 non-null  float64
 33  Rank_regionwise_diff                   351037 non-null  float64
 34  Rank_channelwise_premium               351037 non-null  float64
 35  Rank_mean_channelwise_premium          351037 non-null  float64
 36  Rank_max_channelwise_premium           351037 non-null  float64
 37  Rank_min_channelwise_premium           351037 non-null  float64
 38  Rank_channelwise_diff                  351037 non-null  float64
 39  Rank_Channel_wise_Vehicle_Age_Premium  351037 non-null  float64
 40  Rank_Region_wise_Vehicle_Age_premium   351037 non-null  float64
 41  Rank_Age_wise_premium                  351037 non-null  float64
 42  InsuranceLicense_0-99                  351037 non-null  uint8
 43  InsuranceLicense_00                    351037 non-null  uint8
 44  InsuranceLicense_01                    351037 non-null  uint8
 45  InsuranceLicense_1-99                  351037 non-null  uint8
 46  InsuranceLicense_10                    351037 non-null  uint8
 47  InsuranceLicense_11                    351037 non-null  uint8
 48  InsuranceGender_00                     351037 non-null  uint8
 49  InsuranceGender_01                     351037 non-null  uint8
 50  InsuranceGender_02                     351037 non-null  uint8
 51  InsuranceGender_03                     351037 non-null  uint8
 52  InsuranceGender_10                     351037 non-null  uint8
 53  InsuranceGender_11                     351037 non-null  uint8
 54  InsuranceGender_12                     351037 non-null  uint8
 55  InsuranceGender_13                     351037 non-null  uint8
 56  InsuranceGender1_01                    351037 non-null  uint8
 57  InsuranceGender1_02                    351037 non-null  uint8
 58  InsuranceGender1_03                    351037 non-null  uint8
 59  InsuranceGender1_04                    351037 non-null  uint8
 60  InsuranceGender1_11                    351037 non-null  uint8
 61  InsuranceGender1_12                    351037 non-null  uint8
 62  InsuranceGender1_13                    351037 non-null  uint8
 63  InsuranceGender1_14                    351037 non-null  uint8
 64  InsuranceGender2_0-99                  351037 non-null  uint8
 65  InsuranceGender2_00                    351037 non-null  uint8
 66  InsuranceGender2_01                    351037 non-null  uint8
 67  InsuranceGender2_1-99                  351037 non-null  uint8
 68  InsuranceGender2_10                    351037 non-null  uint8
 69  InsuranceGender2_11                    351037 non-null  uint8
 70  InsuranceGender3_00                    351037 non-null  uint8
 71  InsuranceGender3_01                    351037 non-null  uint8
 72  InsuranceGender3_02                    351037 non-null  uint8
 73  InsuranceGender3_03                    351037 non-null  uint8
 74  InsuranceGender3_10                    351037 non-null  uint8
 75  InsuranceGender3_11                    351037 non-null  uint8
 76  InsuranceGender3_12                    351037 non-null  uint8
 77  InsuranceGender3_13                    351037 non-null  uint8
 78  InsuranceGender4_01                    351037 non-null  uint8
 79  InsuranceGender4_02                    351037 non-null  uint8
 80  InsuranceGender4_03                    351037 non-null  uint8
 81  InsuranceGender4_04                    351037 non-null  uint8
 82  InsuranceGender4_11                    351037 non-null  uint8
 83  InsuranceGender4_12                    351037 non-null  uint8
 84  InsuranceGender4_13                    351037 non-null  uint8
 85  InsuranceGender4_14                    351037 non-null  uint8
dtypes: float64(18), int64(24), uint8(44)
memory usage: 129.9 MB

In [ ]:
df3.columns

Index(['Gender', 'Age', 'Region_Code', 'Occupation', 'Channel_Code', 'Vintage',
       'Credit_Product', 'Avg_Account_Balance', 'Is_Active', 'Is_Lead',
       'Age_Group', 'Total_premium_Channelwise', 'Mean_premium_Channelwise',
       'Maximum_premium_Channelwise', 'Min_premium_Channelwise',
       'Total_premium_regionwise', 'Mean_premium_regionwise',
       'Max_premium_regionwise', 'Min_premium_regionwise',
       'Age_groups_region_wise', 'regionwise_channels', 'Channelwise_regions',
       'Unique_customers_based_Vinatge', 'Region_wise_Vehicle_Age_premium',
       'Region_wise_Vehicle_Age_premium_mean',
       'Region_wise_Vehicle_Age_premium_max',
       'Channel_wise_Vehicle_Age_premium',
       'Channel_wise_Vehicle_Age_premium_mean',
       'Channel_wise_Vehicle_Age_premium_max', 'Rank_regionwise_premium',
       'Rank_mean_regionwise_premium', 'Rank_max_regionwise_premium',
       'Rank_min_regionwise_premium', 'Rank_regionwise_diff',
       'Rank_channelwise_premium', 'Rank_mean_channelwise_premium',
       'Rank_max_channelwise_premium', 'Rank_min_channelwise_premium',
       'Rank_channelwise_diff', 'Rank_Channel_wise_Vehicle_Age_Premium',
       'Rank_Region_wise_Vehicle_Age_premium', 'Rank_Age_wise_premium',
       'InsuranceLicense_0-99', 'InsuranceLicense_00', 'InsuranceLicense_01',
       'InsuranceLicense_1-99', 'InsuranceLicense_10', 'InsuranceLicense_11',
       'InsuranceGender_00', 'InsuranceGender_01', 'InsuranceGender_02',
       'InsuranceGender_03', 'InsuranceGender_10', 'InsuranceGender_11',
       'InsuranceGender_12', 'InsuranceGender_13', 'InsuranceGender1_01',
       'InsuranceGender1_02', 'InsuranceGender1_03', 'InsuranceGender1_04',
       'InsuranceGender1_11', 'InsuranceGender1_12', 'InsuranceGender1_13',
       'InsuranceGender1_14', 'InsuranceGender2_0-99', 'InsuranceGender2_00',
       'InsuranceGender2_01', 'InsuranceGender2_1-99', 'InsuranceGender2_10',
       'InsuranceGender2_11', 'InsuranceGender3_00', 'InsuranceGender3_01',
       'InsuranceGender3_02', 'InsuranceGender3_03', 'InsuranceGender3_10',
       'InsuranceGender3_11', 'InsuranceGender3_12', 'InsuranceGender3_13',
       'InsuranceGender4_01', 'InsuranceGender4_02', 'InsuranceGender4_03',
       'InsuranceGender4_04', 'InsuranceGender4_11', 'InsuranceGender4_12',
       'InsuranceGender4_13', 'InsuranceGender4_14'],
      dtype='object')

In [ ]:
cat_col=['Gender', 'Age', 'Region_Code', 'Occupation', 'Channel_Code', 'Vintage',
       'Credit_Product', 'Avg_Account_Balance', 'Is_Active',
       'Age_Group', 'Total_premium_Channelwise',
       'Maximum_premium_Channelwise', 'Min_premium_Channelwise',
       'Total_premium_regionwise',
       'Max_premium_regionwise', 'Min_premium_regionwise',
       'Age_groups_region_wise', 'regionwise_channels', 'Channelwise_regions',
       'Unique_customers_based_Vinatge', 'Region_wise_Vehicle_Age_premium',
      
       'Region_wise_Vehicle_Age_premium_max',
       'Channel_wise_Vehicle_Age_premium',
      
       'Channel_wise_Vehicle_Age_premium_max',
       'InsuranceLicense_0-99', 'InsuranceLicense_00', 'InsuranceLicense_01',
       'InsuranceLicense_1-99', 'InsuranceLicense_10', 'InsuranceLicense_11',
       'InsuranceGender_00', 'InsuranceGender_01', 'InsuranceGender_02',
       'InsuranceGender_03', 'InsuranceGender_10', 'InsuranceGender_11',
       'InsuranceGender_12', 'InsuranceGender_13', 'InsuranceGender1_01',
       'InsuranceGender1_02', 'InsuranceGender1_03', 'InsuranceGender1_04',
       'InsuranceGender1_11', 'InsuranceGender1_12', 'InsuranceGender1_13',
       'InsuranceGender1_14', 'InsuranceGender2_0-99', 'InsuranceGender2_00',
       'InsuranceGender2_01', 'InsuranceGender2_1-99', 'InsuranceGender2_10',
       'InsuranceGender2_11', 'InsuranceGender3_00', 'InsuranceGender3_01',
       'InsuranceGender3_02', 'InsuranceGender3_03', 'InsuranceGender3_10',
       'InsuranceGender3_11', 'InsuranceGender3_12', 'InsuranceGender3_13',
       'InsuranceGender4_01', 'InsuranceGender4_02', 'InsuranceGender4_03',
       'InsuranceGender4_04', 'InsuranceGender4_11', 'InsuranceGender4_12',
       'InsuranceGender4_13', 'InsuranceGender4_14']

In [ ]:
train = df3[df3['Is_Lead'].isnull()!= True]
test = df3[df3['Is_Lead'].isnull()== True]

In [ ]:
test.drop(['Is_Lead'],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
X = train.drop(["Is_Lead"], axis=1)
Y = train["Is_Lead"]

In [ ]:
#train_x,test_x,train_y,test_y=train_test_split(df,df1,test_size=0.25,random_state=1,shuffle=True)
oof_pred               = np.zeros((len(train),))
y_pred_final           = np.zeros((len(test),))
num_models             = 3

n_splits               = 2
error                  = []

kf=StratifiedKFold(n_splits=n_splits,shuffle=True,random_state=294)
    
for i,(train_idx,val_idx) in enumerate(kf.split(X,Y)):    
    
    wghts                     = [0]*num_models
    test_roc_score            = []
    
    
    X_train, y_train = X.iloc[train_idx,:], Y.iloc[train_idx]

    X_val, y_val = X.iloc[val_idx, :], Y.iloc[val_idx]
    

    print('\nFold: {}\n'.format(i+1))

    model1 = cat.CatBoostClassifier(learning_rate = 0.03,random_state=42,scale_pos_weight=7, custom_metric=['AUC'])
    model1.fit(X_train,y_train,cat_features=cat_col,eval_set=(X_val, y_val),early_stopping_rounds=30,verbose=100)
    testpred1 = model1.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred1))
    print("Test ROC AUC for model 1: %.4f"%(roc_auc_score(y_val, testpred1)))
    
    model2 = cat.CatBoostClassifier(learning_rate = 0.04,random_state=42,scale_pos_weight=7, custom_metric=['AUC'])
    model2.fit(X_train,y_train,cat_features=cat_col,eval_set=(X_val, y_val),early_stopping_rounds=40,verbose=100)
    testpred2 = model2.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred2))
    print("Test ROC AUC for model 2: %.4f"%(roc_auc_score(y_val, testpred2)))
    
    model3 = cat.CatBoostClassifier(learning_rate = 0.05,random_state=42,scale_pos_weight=7, custom_metric=['AUC'])
    model3.fit(X_train,y_train,cat_features=cat_col,eval_set=(X_val, y_val),early_stopping_rounds=20,verbose=100)
    testpred3 = model3.predict_proba(X_val)[:,1]
    test_roc_score.append(roc_auc_score(y_val, testpred3))
    print("Test ROC AUC for model 3: %.4f"%(roc_auc_score(y_val, testpred3)))
    
    wghts              = np.exp(-1000*np.array(test_roc_score/sum(test_roc_score)))
    wghts              = wghts/sum(wghts)
    
    val_pred           = wghts[0]*testpred1+wghts[1]*testpred2 +wghts[2]*testpred3
    print('validation roc_auc_score fold-',i+1,': ',roc_auc_score(y_val, val_pred))
    
    oof_pred[val_idx]  = val_pred
    y_pred_final += (wghts[0]*model1.predict_proba(test)[:,1]+wghts[1]*model2.predict_proba(test)[:,1]+wghts[2]*model3.predict_proba(test)[:,1])/(n_splits)
    
    print('\n')
    
print('OOF ROC_AUC_Score:- ',(roc_auc_score(Y,oof_pred)))

Fold: 1

0:	learn: 0.6731169	test: 0.6728809	best: 0.6728809 (0)	total: 1.01s	remaining: 16m 46s
100:	learn: 0.4089662	test: 0.4075632	best: 0.4075632 (100)	total: 1m 13s	remaining: 10m 55s
200:	learn: 0.4047124	test: 0.4044949	best: 0.4044949 (200)	total: 2m 36s	remaining: 10m 21s
300:	learn: 0.4029850	test: 0.4039242	best: 0.4039242 (299)	total: 3m 51s	remaining: 8m 57s
400:	learn: 0.4014316	test: 0.4035404	best: 0.4035404 (400)	total: 5m 7s	remaining: 7m 39s
500:	learn: 0.3994814	test: 0.4033659	best: 0.4033659 (500)	total: 6m 28s	remaining: 6m 27s
Stopped by overfitting detector  (30 iterations wait)

bestTest = 0.403347371
bestIteration = 517

Shrink model to first 518 iterations.
Test ROC AUC for model 1: 0.8743
0:	learn: 0.6666592	test: 0.6663480	best: 0.6663480 (0)	total: 885ms	remaining: 14m 43s
100:	learn: 0.4069097	test: 0.4059249	best: 0.4059249 (100)	total: 1m 16s	remaining: 11m 19s
200:	learn: 0.4035630	test: 0.4040277	best: 0.4040277 (200)	total: 2m 31s	remaining: 10m 1s
300:	learn: 0.4013781	test: 0.4036122	best: 0.4036073 (294)	total: 3m 47s	remaining: 8m 47s
400:	learn: 0.3987241	test: 0.4033550	best: 0.4033550 (400)	total: 5m 12s	remaining: 7m 46s
Stopped by overfitting detector  (40 iterations wait)

bestTest = 0.40329772
bestIteration = 456

Shrink model to first 457 iterations.
Test ROC AUC for model 2: 0.8744
0:	learn: 0.6603108	test: 0.6599260	best: 0.6599260 (0)	total: 992ms	remaining: 16m 31s
100:	learn: 0.4056441	test: 0.4048278	best: 0.4048278 (100)	total: 1m 16s	remaining: 11m 21s
200:	learn: 0.4025651	test: 0.4036044	best: 0.4036044 (200)	total: 2m 33s	remaining: 10m 9s
300:	learn: 0.3996372	test: 0.4032082	best: 0.4031968 (291)	total: 3m 55s	remaining: 9m 7s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.4031920607
bestIteration = 326

Shrink model to first 327 iterations.
Test ROC AUC for model 3: 0.8745
validation roc_auc_score fold- 1 :  0.8744824582009757



Fold: 2

0:	learn: 0.6721733	test: 0.6722097	best: 0.6722097 (0)	total: 841ms	remaining: 14m
100:	learn: 0.4069252	test: 0.4090053	best: 0.4090053 (100)	total: 1m 13s	remaining: 10m 51s
200:	learn: 0.4028452	test: 0.4063401	best: 0.4063401 (200)	total: 2m 30s	remaining: 9m 59s
300:	learn: 0.4010719	test: 0.4056936	best: 0.4056936 (300)	total: 3m 43s	remaining: 8m 40s
400:	learn: 0.3992692	test: 0.4053058	best: 0.4053029 (394)	total: 5m	remaining: 7m 28s
500:	learn: 0.3971656	test: 0.4051897	best: 0.4051838 (493)	total: 6m 20s	remaining: 6m 19s
600:	learn: 0.3953317	test: 0.4050899	best: 0.4050882 (596)	total: 7m 42s	remaining: 5m 6s
Stopped by overfitting detector  (30 iterations wait)

bestTest = 0.4050877133
bestIteration = 602

Shrink model to first 603 iterations.
Test ROC AUC for model 1: 0.8730
0:	learn: 0.6654220	test: 0.6654688	best: 0.6654688 (0)	total: 993ms	remaining: 16m 32s
100:	learn: 0.4046479	test: 0.4074657	best: 0.4074657 (100)	total: 1m 14s	remaining: 11m 6s
200:	learn: 0.4013456	test: 0.4057721	best: 0.4057721 (200)	total: 2m 30s	remaining: 9m 57s
300:	learn: 0.3991212	test: 0.4054442	best: 0.4054369 (298)	total: 3m 46s	remaining: 8m 45s
400:	learn: 0.3965333	test: 0.4051789	best: 0.4051688 (391)	total: 5m 5s	remaining: 7m 35s
Stopped by overfitting detector  (40 iterations wait)

bestTest = 0.4051221182
bestIteration = 454

Shrink model to first 455 iterations.
Test ROC AUC for model 2: 0.8731
0:	learn: 0.6587904	test: 0.6588467	best: 0.6588467 (0)	total: 921ms	remaining: 15m 20s
100:	learn: 0.4037457	test: 0.4065817	best: 0.4065817 (100)	total: 1m 15s	remaining: 11m 9s
200:	learn: 0.4005887	test: 0.4055651	best: 0.4055651 (200)	total: 2m 30s	remaining: 9m 58s
300:	learn: 0.3975991	test: 0.4051322	best: 0.4051159 (296)	total: 3m 46s	remaining: 8m 46s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.405016845
bestIteration = 323

Shrink model to first 324 iterations.
Test ROC AUC for model 3: 0.8731
validation roc_auc_score fold- 2 :  0.873179816445148


OOF ROC_AUC_Score:-  0.8737724421475705

In [ ]:
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.25,random_state=1,shuffle=True)

In [ ]:
model=GaussianNB()
model.fit(train_x,train_y)
o=model.predict(test_x)
print(accuracy_score(test_y,o))

0.726478057038677

In [ ]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.25.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)

In [ ]:
import catboost as cat

In [ ]:
m1=y_pred_final

In [ ]:
pre=pre*0.5 +df3['0']*0.5
pre

0         0.223095
1         0.973336
2         0.281121
3         0.141629
4         0.136330
            ...
105307    0.995142
105308    0.891831
105309    0.339192
105310    0.680837
105311    0.264482
Name: 0, Length: 105312, dtype: float64

In [ ]:
y_pred_final

array([0.22109801, 0.97335096, 0.27968477, ..., 0.32779139, 0.67609816,
       0.26583231])

In [ ]:
df3=pd.read_csv('/content/doccc20.csv')
df3.head()

   Unnamed: 0         0
0           0  0.223095
1           1  0.973336
2           2  0.281121
3           3  0.141629
4           4  0.136330

In [ ]:
df3.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
pre=model4.predict_proba(test)[:,1]
pre

array([0.05387029, 0.844847  , 0.05202898, ..., 0.08730729, 0.21979302,
       0.04923308], dtype=float32)

In [ ]:
df4=pd.DataFrame(pre)
df4

               0
0       0.223095
1       0.973336
2       0.281121
3       0.141629
4       0.136330
...          ...
105307  0.995142
105308  0.891831
105309  0.339192
105310  0.680837
105311  0.264482

[105312 rows x 1 columns]

In [ ]:
df4.to_csv('doccc20.csv')

In [ ]:
def frequency_encoding(column_name,output_column_name,df):
    fe_pol = (df.groupby(column_name).size()) / len(df)
    df[output_column_name] = df[column_name].apply(lambda x : fe_pol[x])


def feature_engineering(df):
    le = LabelEncoder()
    
     #Interaction Feature (Combining 2 categorical features and performing frequency encoding)
        
    cat_features=[]
    le_features=[]
    columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Health Indicator','Is_Spouse','Region_Code','Holding_Policy_Type','Reco_Policy_Cat']

    comb = combinations(columns, 2) 

    for i in list(comb):  
        df[f'{i[0]}_{i[1]}']=df[i[0]].astype(str)+'_'+df[i[1]].astype(str)
        df[f'{i[0]}_{i[1]}_le']=le.fit_transform(df[f'{i[0]}_{i[1]}'])
        le_features.append(f'{i[0]}_{i[1]}_le')
        frequency_encoding(f'{i[0]}_{i[1]}',f'{i[0]}_{i[1]}',df)
        cat_features.append(f'{i[0]}_{i[1]}')   
        
    #Frequency Encoding
    
    frequency_encoding('Region_Code','Region_Code_fe',df)
    frequency_encoding('Reco_Policy_Cat','Reco_Policy_Cat_fe',df)
    
    #Deriving characteristics of each city by creating aggregate features
    
    city_aggregate_features = df.groupby(['City_Code']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std'], 
                                                     'Region_Code': ['nunique','count'], 
                                                     'Accomodation_Type': ['nunique','count'],
                                                     'Reco_Insurance_Type': ['nunique','count'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] ,
                                                     'Reco_Policy_Cat': ['nunique','count'] ,
                                                     })
    city_aggregate_features.columns = ['city_aggregate_features' + '_'.join(c).strip('_') for c in city_aggregate_features.columns]
    df = pd.merge(df, city_aggregate_features, on = ['City_Code'], how='left')

 
    city_region_aggregate_features = df.groupby(['City_Code','Region_Code']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std'],  
                                                     'Accomodation_Type': ['nunique','count'],
                                                     'Reco_Insurance_Type': ['nunique','count'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] ,
                                                     'Reco_Policy_Cat': ['nunique','count'] ,
                                                     })
    city_region_aggregate_features.columns = ['city_region_aggregate_features' + '_'.join(c).strip('_') for c in city_region_aggregate_features.columns]
    df = pd.merge(df, city_region_aggregate_features, on = ['City_Code','Region_Code'], how='left')

    city_recopolicycat_aggregate_features = df.groupby(['City_Code','Reco_Policy_Cat']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std'], 
                                                     'Region_Code': ['nunique','count'], 
                                                     'Accomodation_Type': ['nunique','count'],
                                                     'Reco_Insurance_Type': ['nunique','count'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] 
                                                     })
    city_recopolicycat_aggregate_features.columns = ['city_recopolicycat_aggregate_features' + '_'.join(c).strip('_') for c in city_recopolicycat_aggregate_features.columns]
    df = pd.merge(df, city_recopolicycat_aggregate_features, on = ['City_Code','Reco_Policy_Cat'], how='left')
    
    city_regioncoderecopolicycat_aggregate_features = df.groupby(['City_Code','Region_Code_Reco_Policy_Cat']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std'], 
                                                     'Region_Code': ['nunique','count'], 
                                                     'Accomodation_Type': ['nunique','count'],
                                                     'Reco_Insurance_Type': ['nunique','count'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] ,
                                                     'Reco_Policy_Cat': ['nunique','count'] ,
                                                     })

    city_regioncoderecopolicycat_aggregate_features.columns = ['city_regioncoderecopolicycat_aggregate_features' + '_'.join(c).strip('_') for c in city_regioncoderecopolicycat_aggregate_features.columns]
    df = pd.merge(df, city_regioncoderecopolicycat_aggregate_features, on = ['City_Code','Region_Code_Reco_Policy_Cat'], how='left')
    
    for i in cat_features:
        df[f'city_{i}_max']=df.groupby('City_Code')[i].transform('max')
        df[f'city_{i}_min']=df.groupby('City_Code')[i].transform('min')
        df[f'city_{i}_mean']=df.groupby('City_Code')[i].transform('mean')
        df[f'city_{i}_std']=df.groupby('City_Code')[i].transform('std')

    
        df[f'city_region_{i}_max']=df.groupby(['City_Code','Region_Code'])[i].transform('max')
        df[f'city_region_{i}_min']=df.groupby(['City_Code','Region_Code'])[i].transform('min')
        df[f'city_region_{i}_mean']=df.groupby(['City_Code','Region_Code'])[i].transform('mean')
        df[f'city_region_{i}_std']=df.groupby(['City_Code','Region_Code'])[i].transform('std')

    
        df[f'city_recopolicycat_{i}_max']=df.groupby(['City_Code','Reco_Policy_Cat'])[i].transform('max')
        df[f'city_recopolicycat_{i}_min']=df.groupby(['City_Code','Reco_Policy_Cat'])[i].transform('min')
        df[f'city_recopolicycat_{i}_mean']=df.groupby(['City_Code','Reco_Policy_Cat'])[i].transform('mean')
        df[f'city_recopolicycat_{i}_std']=df.groupby(['City_Code','Reco_Policy_Cat'])[i].transform('std')
        
    
    #features on reco_policy_cat
    
    recopolicycat_aggregate_features = df.groupby(['Reco_Policy_Cat']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std','sum'],   
                                                     'Region_Code': ['nunique','count'], 
                                                     'Accomodation_Type': ['nunique'],
                                                     'Reco_Insurance_Type': ['nunique'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] ,
                                                     'City_Code': ['nunique','count'] ,
                                                     })
    recopolicycat_aggregate_features.columns = ['recopolicycat_aggregate_features' + '_'.join(c).strip('_') for c in recopolicycat_aggregate_features.columns]
    df = pd.merge(df, recopolicycat_aggregate_features, on = ['Reco_Policy_Cat'], how='left')
        
        

    #features on Holding_Policy_Type 
    
    holdingpolicytype_aggregate_features = df.groupby(['Holding_Policy_Type']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std'], 
                                                     'Region_Code': ['nunique','count'], 
                                                     'Accomodation_Type': ['nunique','count'],
                                                     'Reco_Insurance_Type': ['nunique','count'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'City_Code': ['nunique','count'] ,
                                                     })
    holdingpolicytype_aggregate_features.columns = ['holdingpolicytype_aggregate_features' + '_'.join(c).strip('_') for c in holdingpolicytype_aggregate_features.columns]
    df = pd.merge(df, holdingpolicytype_aggregate_features, on = ['Holding_Policy_Type'], how='left')
    
    #Deriving characteristics of Accomodation_Type by creating aggregate features
    
    Accomodation_Type_aggregate_features = df.groupby(['Accomodation_Type']).agg({'Lower_Age': ['mean', 'max', 'min','std'],
                                                     'Reco_Policy_Premium': ['mean', 'max', 'min','std','sum'],   
                                                     'Region_Code': ['nunique','count'], 
                                                     'Reco_Insurance_Type': ['nunique'] ,
                                                     'Health Indicator': ['nunique','count'] ,
                                                     'Holding_Policy_Type': ['nunique','count'] ,
                                                     'City_Code': ['nunique','count'] ,
                                                     })
    Accomodation_Type_aggregate_features.columns = ['Accomodation_Type_aggregate_features' + '_'.join(c).strip('_') for c in Accomodation_Type_aggregate_features.columns]
    df = pd.merge(df, Accomodation_Type_aggregate_features, on = ['Accomodation_Type'], how='left')
    
    #Deriving characteristics of Interaction_features by creating aggregate features (These interaction feature are selected for aggregating based on its feature importance)
    
    Region_CodeReco_Policy_Cat_grpd = df.groupby(['Region_Code_Reco_Policy_Cat']).agg({ 'Reco_Policy_Premium': ['mean', 'max', 'min', 'std']})                                                              
                                                     
    Region_CodeReco_Policy_Cat_grpd.columns = ['grpd_by_Region_Code_Reco_Policy_Cat_' + '_'.join(c).strip('_') for c in Region_CodeReco_Policy_Cat_grpd.columns]
    df = pd.merge(df, Region_CodeReco_Policy_Cat_grpd, on = ['Region_Code_Reco_Policy_Cat'], how='left')


    City_CodeRegion_Code_grpd = df.groupby(['City_Code_Region_Code']).agg({ 'Reco_Policy_Premium': ['mean', 'max', 'min', 'std']})                                                              
                                                     
    City_CodeRegion_Code_grpd.columns = ['grpd_by_City_CodeRegion_Code_' + '_'.join(c).strip('_') for c in City_CodeRegion_Code_grpd.columns]
    df = pd.merge(df, City_CodeRegion_Code_grpd, on = ['City_Code_Region_Code'], how='left')


    City_CodeReco_Policy_Cat_grpd = df.groupby(['City_Code_Reco_Policy_Cat']).agg({ 'Reco_Policy_Premium': ['mean', 'max', 'min', 'std']})                                                              
                                                     
    City_CodeReco_Policy_Cat_grpd.columns = ['grpd_by_City_CodeReco_Policy_Cat_' + '_'.join(c).strip('_') for c in City_CodeReco_Policy_Cat_grpd.columns]
    df = pd.merge(df, City_CodeReco_Policy_Cat_grpd, on = ['City_Code_Reco_Policy_Cat'], how='left')


    Holding_Policy_TypeReco_Policy_Cat_grpd = df.groupby(['Holding_Policy_Type_Reco_Policy_Cat']).agg({ 'Reco_Policy_Premium': ['mean', 'max', 'min', 'std']})                                                              
                                                     
    Holding_Policy_TypeReco_Policy_Cat_grpd.columns = ['grpd_by_Holding_Policy_TypeReco_Policy_Cat_' + '_'.join(c).strip('_') for c in Holding_Policy_TypeReco_Policy_Cat_grpd.columns]
    df = pd.merge(df, Holding_Policy_TypeReco_Policy_Cat_grpd, on = ['Holding_Policy_Type_Reco_Policy_Cat'], how='left')
    
    return df,le_features